h1{
  color: aliceblue;  
 text-align:center;
 background-color:black
}

body{
     background-image:url("../images/images3.jfif");
}

h2{
    color:black;
     text-align:center;
    background-color:aquamarine
}

h4{
    color: blue;
}

h5{
    color:black
}
    
